# Python
__pycache__/
*.pyc

# macOS
.DS_Store
__MACOSX/

# ML models (lourds)
checkpoints/
*.pt
*.pth
*.h5

# Outputs / résultats générés
Output/
output/
Input*
Output_Done*
input_Done*
*.png
*.psd

# Archives
*.zip
*.tar.gz

# Environnements / builds
*.egg-info/
.dist-info/
